.about {
    margin-top: 10rem;
    position: relative;
    display: flex;
    
}

h1 {
    color: #fff;
    font-size:40px
}

p {
      width: 50%;
    color: #Fff;
}

/* Media Queries */

@media (max-width: 1100px) {
    .box {
        flex-direction: column;
    }
    #astronaut {
        position: absolute;
        width: 300px;
        height: 500px;
        top: -50px;
        right: -40px;
        display: block;
        
    }
    #moonAbout {
        right: 0;
    }
    
    .box p {
        
        margin-top: 170px;
    }
}