.contacts {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;;
    height: 100%;
    position: relative;
   padding-bottom: 10rem;
    align-items: center;
    background-color: #09090b; 
}

.title-contacts {
    padding-top: 5rem;
}


.container-contact {
   
    display: flex;
    gap: 30px;
    align-items: center;
}

 h4 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 30px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 4px;
    height :64px;
    width: 100%;
}

form textarea {
    padding: 0.5rem;
    outline: none;
    border-radius: 4px;
}

form .button-form {
    background-color: rgb(255, 241, 47);
    outline: 0;
    border: none;
    border-radius: 4px;
    height: 46px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.3s;
}

form .button-form:hover {
    filter: brightness(90%)
}


.contacts h1 {
    margin-bottom: 80px;
    font-size: 40px;
    color:#Fff;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.box-links {
   
    width: 100vh;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

.lnk {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

.lnk svg {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: all ease-in-out .4s;
}

.lnk svg:hover {
    transform: translateY(-10px);
}

.lnk a {
    color: white;
    font-size: 14px;
    
}

#copy {
    color: white  ;
    font-size: 12px;
    
}

/* Media Queries */

@media(max-width: 1200px) {
    .box-links {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media(max-width: 1150px) {
    .box-links {width: 80vh;}
   form{
    width: 80%;
   }
}

@media(max-width: 1000px) {
    .box-links {width: 60vh;}
    form{
     width: 60%;
    }
}

@media(max-width: 900px) {
    .contacts {
        height: 100%;
    }
    form{
        width: 90%;
       }
    .container-contact {
        flex-direction: column;
    }
}

@media(max-width: 500px) {
   
    .box-links {
        width: 80%;
    }
    form{
        width: 80%;
       }
}